
section.events-index{
  display: flex;
  height: 100%;
  min-height: 100vh;

  div.container-all-cards{
    margin-left: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .event-card {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
      width: 300px;
      min-height: 120px;
      align-self: flex-start;
      max-height: 140px;
      margin: 0px 10px 15px 10px;
      cursor: pointer;
      text-align: right;
      text-transform: uppercase;
      font-size: 22px;
      color: #636262;
      display: flex;
      position: relative;
      border-radius: 10px;
      background-size: cover;
      margin: 20px 10px;

      .avatar-container{
        position: absolute;
        top: -4px;
        left: -4px;
        .avatar {
          height: 34px;
          width: 34px;
          border-radius: 50%;
          border: 2px solid #f07598;
        }
      }


      .card-content{
        background-color: rgba(255,255,255,0.4);
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        p, h4{
          margin: 2px 5px;
          background-color: white;
        }
        .card-attending {
          font-size: 15px;
        }
        .card-text {
          font-size: 15px;
        }
      }



    }
  }

  div.filters {
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 2px solid #f07598;
    background-color: #636262;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    nav{
      margin:0;
      position: fixed;
      top: 200px;
      padding: 5px;

      .applied-filters:empty{
        height: 0px;
        overflow: hidden;
      }
      .applied-filters{

        transition: all 0.4s;

        flex-wrap: wrap;
        width: 175px;

        & + form{
          transition: all 0.4s;
        }


        span{
          margin: 3px;
          padding: 0 5px;
          background-color: #f07598;
          cursor: pointer;
          text-transform: capitalize;
          color: white;
          display: inline-block;

          &::after{
            content:' x';
            color: white;
          }
        }
      }
    }

    form{
      display: flex;
      flex-direction: column;
      padding: 5px;

      hr{
        margin: 5px;
      }

        label.cat-filter{
          padding: 2px 10px;
        }

      label.sub-cat-filter{
        padding: 0 0 0 32px;
        transition: all 0.4s;
        &.inactive{
          height: 0px;
          overflow: hidden;

        }
        &.active{
          height: 24px;
        }
        input{
          display: none;
        }
        input:checked + span{
          color: green;
          font-weight: bold;
        }
      }
    }
  }

}

.cat-filter, .sub-cat-filter {
  color: white;
  text-transform: uppercase;
}





@media only screen and (max-width: 600px) {

  section.events-index {
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;

    div.filters {
      display: flex;
      width: 100%;
      position: relative;
      nav{
        position: relative;
        top: auto;
        margin-left: calc(50% - 90px);
      }
    }

    div.container-all-cards{
      width: 90%;
      margin: 10px;
    }
  }


  .event-card {
    margin-bottom: 20px;
    min-width: 100%;
    min-height: auto ;
    float: right;
  }
}
