html, body{
  min-height: 100vh;
}


body{
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
}

nav.top-navigation{
  display: flex;
  justify-content: space-evenly;
}

section.events-index{
  display: flex;

  div.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card{
      width: 300px;
      margin:10px;
    }
  }

  div.filters form{
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: white;
    margin:10px;

    hr{
      margin: 5px;
    }

    label.cat-filter{
      padding: 1px 10px;
    }

    label.sub-cat-filter{
      padding: 0 0 0 26px;
      transition: all 0.4s;
      &.inactive{
        height: 0px;
        overflow: hidden;

      }
      &.active{
        height: 30px;
      }
      input{
        display: none;
      }
      input:checked + span{
        color: blue;
        font-weight: bold;
      }
    }

  }

}
