@tailwind base;
@tailwind components;
@tailwind utilities;

* {
font-family: 'Roboto Condensed', sans-serif;
text-transform: uppercase;
}

html, body, div#root, main{
  min-height: 100vh;
}

body{
  background-color: white;
  margin: 0;
}

.card-content {
  text-align: center;
}

h1 {
  font-size: 144px;
  margin: 120px 0px 20px 0px;
  color: #f07598;
  text-shadow: 2px 2px black;
}

.open-modal-container {
  text-align: center;
}

.open-modal {
  font-size: 30px;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: white;
  color: #65bff7;
  cursor: pointer;
  padding: 10px 20px;
  text-shadow: 1px 1px black;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px black;
  border: 2px solid #65bff7;
  border-radius: 5px;
  text-transform: uppercase;
}

.column {
  float: left;
  width: calc(25% - 20px);
  padding: 0 10px;
}

.cat-card {
  border: 2px solid black;
  align-content: center;
  height: 180px;
}

.filters {
  display: flex;
  // border: 2px solid #f07598;
  width: 20%;
  background-color: #636262;
  color: white;
}

.cat-filter, .sub-cat-filter {
  color: white;
  text-transform: uppercase;
}

.container-all-cards {
  width: 80%;
  // border: 2px solid #f07598;
}

.event-card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 29%;
  // height: 410px;
  margin: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #636262;
}

.card-header-title, .card-header-date, .card-price {
  margin: 10px 0;
}

.event-users-child-user {
  float: left;
}

.event-users-child-att {
  float: right;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-left: 5px;
  border: 2px solid #f07598;
}

.link {
  text-decoration: none;
  color: #636262;
}

.event-card-photo {
  margin: 0;

}

.event-photo {
  width: 100%;
  opacity: 0.3;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav.top-navigation{
  display: flex;
  justify-content: space-evenly;
  min-height: 50px;
}

section.home-page{

}

section.events-index{
  display: flex;
  height: 100%;

  div.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .event-card{
      width: 300px;
      margin:10px;

      .card-content{
        padding:10px;

      }

      .event-users{
        display: flex;
        width: 100%;
        .event-users-child{
           flex-grow: 1;
        }
      }

      .avatar{
        width:30px;
        height:30px;
        border-radius: 100%;
      }

      .card-footer{
        display: flex;
        width: 100%;
        *{
           flex-grow: 1;
        }
      }
    }
  }

  div.filters {
    padding: 10px;
    nav{
      margin:0;
      width: 200px;

      .applied-filters:empty{
        height: 0px;
        overflow: hidden;
        & + form{
          margin-top: -20px;
        }
      }
      .applied-filters{
        transition: all 0.4s;
        display: inline-flex;
        flex-wrap: wrap;

        & + form{
          margin-top: 10px;
          transition: all 0.4s;
        }


        span{
          margin: 3px;
          padding: 0 5px;
          background-color: #f07598;
          cursor: pointer;
          text-transform: capitalize;
          color: white;

          &::after{
            content:' x';
            color: white;
          }
        }
      }
    }

    form{
      color: black;
      display: flex;
      flex-direction: column;
      padding: 5px;

      hr{
        margin: 5px;
      }

        label.cat-filter{
          padding: 1px 10px;
        }

      label.sub-cat-filter{
        padding: 0 0 0 26px;
        transition: all 0.4s;
        &.inactive{
          height: 0px;
          overflow: hidden;

        }
        &.active{
          height: 26px;
        }
        input{
          display: none;
        }
        input:checked + span{
          color: black;
          font-weight: bold;
        }
      }
    }
  }

}

.form-container {
  width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-title {
  background: #f07598;
	color: white;
	font-size: 30px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
  font-size: 20px;
  color: #636262;
}

.dropdown {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
  font-size: 20px;
  color: #636262;
}

.label {
  font-size: 20px;
  color: #636262;
}

.button {
	box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);;
	background-color: #f07598;
	border: 1px solid #c43d6e;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 20px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
  margin-top: 20px;
}

.footer {
  text-align: center;
}
