// h2.form-title{
//   position: relative;
//   padding-right: 150px;
// }

.profile-container {
  height: 520px;
}

.profile-pic-container {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  border: 5px solid #f07598;
}

.user-bio {
  color: #636262;
  font-size: 24px;
}

.profile-button {
  width: 100px;
  margin: 10px 20px 10px 0px;
  text-align: center;
}

.edit-link {
  color: white;
  text-decoration: none;
}
